<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper">

    <select id="test" resultType="java.util.HashMap">
        SELECT
            TITLE
            ,WRITER
        FROM BOARD
    </select>

    <select id="scheduleList" resultType="com.test.vo.ScheduleVO">
        SELECT
            TIME_TERM AS timeTerm
            ,SQL_ROW AS sqlRow
            ,MESSAGE AS message
            ,SEQ AS seq
        FROM SCHEDULE
    </select>

    <select id="boardCnt" resultType="int">
        SELECT
            COUNT(1) AS COUNT
        FROM BOARD
    </select>


</mapper>

